[app-pdk-apperance="light"]:root {
    --pdk-background: #FFF;
    --pdk-color: #222;
    --pdk-border: #CCC;
    --pdk-box-shadow: #CCC;
    --pdk-alert-window: rgba(0,0,0,0.3);
    --pdk-header-background: #F2F2F2;
    --pdk-header-border: #CCC;
    --pdk-header-color: #222;
    --pdk-header-btn: transparent;
    --pdk-header-btn-hover-background: #CFCFCF;
    --pdk-header-btn-hover-color: #222;
    --pdk-btn-background: #F2F2F2;
    --pdk-btn-border: #CCC;
    --pdk-btn-color: #FFF;
    --pdk-btn-hover-background: #CFCFCF;
    --pdk-btn-hover-color: #222;
    --pdk-btn-box-shadow: #ccc;
    --pkd-btn-icon: #555;
    --pdk-stroke: #555;
    --pdk-fill: #555;
    --pdk-input-background: #EEE;
    --pdk-input-color: #222;
    --pdk-input-border: #CCC;
    --pdk-input-box-shadow: #3E86A0;
    --pdk-submit-background: #3E86A0;
    --pdk-submit-hover-background: #1c637c;
    --pdk-submit-color: #FFF;
    --pdk-submit-border: #CCC;
    --pdk-submit-box-shadow: #CCC;
    --pdk-scrollbar: #FFF;
    --pdk-scrollbar-thumb: #CCC;
    --pdk-scrollbar-hover-thumb: #BBB;
    --pdk-animation-time: 0.5s;
    --pdk-window-animation-time: 0.3s;
    --pdk-fon-family: Arial, Roboto, sans-serif;
}

[app-pdk-apperance="dark"]:root {
    --pdk-background: #2B2B2B;
    --pdk-color: #FFF;
    --pdk-border: #555;
    --pdk-box-shadow: #444;
    --pdk-alert-window: rgba(200,200,200,0.3);
    --pdk-header-background: #3C3F41;
    --pdk-header-border: #555;
    --pdk-header-color: #FFF;
    --pdk-header-btn: transparent;
    --pdk-header-btn-hover-background: #4E5254;
    --pdk-header-btn-hover-color: #FFF;
    --pdk-btn-background: #3C3F41;
    --pdk-btn-border: #555;
    --pdk-btn-color: #FFF;
    --pdk-btn-hover-background: #4E5254;
    --pdk-btn-hover-color: #FFF;
    --pdk-btn-box-shadow: #444;
    --pkd-btn-icon: #555;
    --pdk-stroke: #999;
    --pdk-fill: #999;
    --pdk-input-background: #222;
    --pdk-input-color: #FFF;
    --pdk-input-border: #555;
    --pdk-input-box-shadow: #3E86A0;
    --pdk-submit-background: #3E86A0;
    --pdk-submit-hover-background: #1c637c;
    --pdk-submit-color: #FFF;
    --pdk-submit-border: #555;
    --pdk-submit-box-shadow: #299CCC;
    --pdk-scrollbar: #2B2B2B;
    --pdk-scrollbar-thumb: #444;
    --pdk-scrollbar-hover-thumb: #555;
    --pdk-animation-time: 0.5s;
    --pdk-window-animation-time: 0.3s;
    --pdk-fon-family: Arial, Roboto, sans-serif;
}